# BIZTORY DATA SCIENCE PRACTICE  
## Python Workshop üêç
This is the handout document for the Python training organized by the BDSP on the 10th of August of 2020.

<img src="https://datarebellion.com/wp-content/uploads/2018/04/anaconda-logo-300x300.png" alt="Anaconda Logo" align="left" width="200" length="200"/>

## What is Anaconda?

[Anaconda](https://anaconda.org/) is a free and open-source distribution of the Python and R programming languages for scientific computing, that aims to simplify package management and deployment. It is essentially a data science distribution with all bateries included. It has features that appeal to beginners and to more advanced users.

<img src="https://gtrt7.com/blog/wp-content/uploads/2017/10/ic_jupyter.png" alt="Anaconda Logo" align="left" width="200" length="200"/>

## What is a Jupyter Notebook?
[Jupyter](https://jupyter.org/) is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. It is the perfect mix between code and story telling. They are quite popular with beginners because it allows you to run code in independent chunks. While other IDEs (Interactive Code Enviroments) will only run the whole code you write at once. You might know them as IPython.

<img src="https://vrzkj25a871bpq7t1ugcgmn9-wpengine.netdna-ssl.com/wp-content/uploads/2022/01/pandas-dataframe-integer-location.png" alt="DataFrame" align="left" width="200" length="200"/>

## What is a DataFrame?
[DataFrames](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) are a 2-dimensional labeled data structure with columns of potentially different types. DataFrame behave exactly like spreadsheets or SQL tables. It is generally the most commonly used pandas object. Also noteworthy, DataFrames are not unique to Python. But whenever you hear DataFrames and Python, you know that everything is done with the Pandas package.

<img src="https://pythonawesome.com/content/images/2018/05/pandas-logo.png" alt="Pandas" align="left" width="200" length="200"/>

## What is Pandas?
[Pandas](https://pandas.pydata.org/) is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language. It is the undisputed library for Python users to work with data.

## Python Libraries
Python is a very versatible programming language. It can analyze data, create video games, build a website, and even give a robot instructions. The reason it is so versatile is the libraries that people have built. Libraries are essentially functions that other people built before you, so you don't have to reinvent the wheel. Some functions can contain hundreds or even thousands of lines of code. 

The diagram below displays the most common libraries in 2020. Check the documentation to see what each library does and which functions it allows you to use. 

<img src="https://academy.vertabelo.com/blog/top-python-libraries-2020/TopPythonLibraries980x400_v4_hu12044cd8842ae4843c303e7a089b6784_155193_980x400_fill_box_center_2.png" alt="Python libraries" width="1000" length="200"/>

## How can you install libraries?
Python has a lot of libraries included and Anaconda pre-installs lots of useful libraries for you to use. But if you want to be 100% sure, you might want to install the libraries that you need. Luckily, this is just one line of code for you! 

The only decision you have to make is if you want to use [conda](https://docs.conda.io/en/latest/) (Anaconda's package manager) or [pip](https://pypi.org/project/pip/) (Python's default package manager). Regardless of what you choose, it is as simple as the code snippets bellow.

<em>Please note the exclamation mark at beginning of the line tells Jupyter that the coming line is not a Python command, but rather a terminal command. In Python, packages are installed in the command line.</em> **Warning**: The exclamation mark is not a Python feature, this is a Jupyter feature (it is one of the so-called Jupyter Magic commands). If you are curious about other Jupyter magic commands, check the documentation [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-system).

In [ ]:
# Installing packages using PIP
!pip install pandas

# Installing packages using CONDA
!conda install pandas

## How to load libraries?
Once the libraries have been installed in your computer, you need to import them to use them in your code. There are multiple options for importing code, but these are the most common. 

#### Import a whole library 
Example: ```import pandas```

However, this approach is not recommended. It is convinient if you will use many functions or you don't know for which function you are looking for. But the downsite is that you will load lots of functions that you don't need. Ultimately, make your code heavier and more difficult to debug.

#### Adding an alias 
Example: ```import pandas as pd```

When you use a function coming from a library, you have to reference where that function comes from. For example, when you use the function *read_csv* from the package pandas, you might have to type ```pandas.read_csv()```. To avoid typing the word pandas every time, you can give a shorter alias like pd. If you import the package with an alias, typing the same function would become ```pd.read_csv()```. 

#### Importing only what you need
Example: ```from math import pi```

This is the prefered approach. Only put in your plate what you are going to eat. Interestingly, when you only import one function, you don't need anymore to add the name of the package at the beginning of the function. In other words, when you type ```from math import pi```, you won't have to type ```math.pi```, you can just type ```pi``` and it will work.

In [1]:
# For today, we will use many functions of the pandas package
# So we will load all of them and give them the pd alias.

import pandas as pd



## How to load data?
One crucial feature of Pandas is its ability to write and read many types of files. Loading data is as simple as calling a one-liner. Functions like the Pandas ```read_excel()``` or ```read_json()``` enable you to work with files effectively. You can use them to save the data and labels from Pandas objects to a file and load them in memory. Check [this link](https://realpython.com/pandas-read-write-files/) if you want to learn more about loading data with pandas.

For this workshop, we will use the ```read_csv()``` and we only use the location of the data file. However, ```read_csv()``` has plenty of optional arguments. Some of them like ```delimiter```or ```header``` might not surprise you. But there are also arguments to define floating points accuracy, inputate NULL values, or even what to do when your computer's memory is low.

<img src="https://files.realpython.com/media/Reading-and-Writing-Data-With-Pandas_Watermarked.435ef1c38466.jpg" alt="Loading Data" align="center" width="600" length="400"/>

In [2]:
# Open the train data
train = pd.read_csv('data/train.csv')

# Open the test data
test = pd.read_csv('data/test.csv')

## What are Python's Data Types?

You might recognize most of these data types. Except maybe ```lists```, ```dictionaries```, ```sets```, and ```tuples```. You can safely ignore these ones for now. 

<img src="https://miro.medium.com/max/3576/1*QfI8H_8HplGa1v9IrrWjBA.png" alt="Data Types" align="left" width="600" length="400"/>

In [19]:
# Check the data types in the train dataset
train.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

<img src="https://cdn.analyticsvidhya.com/wp-content/uploads/2017/02/17083555/Data-Exploration.jpg" alt="Exploring data" align="left" width="200" length="400"/>

# How to explore a dataframe?

Data exploration is an approach similar to initial data analysis, whereby a data analyst uses visual exploration to understand what is in a dataset and the characteristics of the data, rather than through traditional data management systems. These characteristics can include size or amount of data, completeness of the data, correctness of the data, possible relationships amongst data elements or files/tables in the data.

In [20]:
# Shape = Number of rows and columns
train.shape

(1460, 81)

In [21]:
# Columns = Names of the columns
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [27]:
# Info = Column ID, Column Name, NULL count, Data type
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [23]:
# Prints summary statistics for the numeric columns
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [28]:
# Head prints the first N rows (5 is the default value)
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [29]:
# Head prints the last N rows (5 is the default value)
train.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

## How to subset a dataframe?

#### Select one specific column
Add the name of the column inside brackets and single or double quotes. For example, if you want to select the Street column of the train dataset, you can just type ```train['Street']```. This is not limited to 1 column. To select multiple columns, you just pass a list of columns inside of the brackets using the syntax ```train[['Street', 'Id', 'MSSubClass']]```. Common mistakes are not using double ```[``` ```]``` or not wrapping the names with quotations. 

#### Slice rows based on position
Add a number inside brackets. For example, if you want to slice the rows 3, 4, and 5 you can just type ```train[2:5]```. The reason you are typing 2, instead of 3 is that Python is a 0-index language. You can also using ```:``` without one of the two numbers. For example, ```train[:5]``` will return every row before the 5th row and ```train[5:]``` will return every row after the 6th row. But also note that it is prefered to use ```head()``` and ```tail()``` for these use cases.

#### Slice rows based on a boolean
Add a boolean after inside brackets. For example, if you only want the rows where the ```LotArea``` is more than 10000, you can just type ```train[train['LotArea'] > 10000]```. Sometimes you will see written as ```train[train.LotArea' > 10000]```, using ```train.LotArea``` instead of the ```train['LotArea']``` notation. But this is not a good practice. Some of the most useful booleans are ```isnull()``` and ```notnull()```.

In [40]:
# Housing with an Area of more than 10000
train[train['LotArea'] > 10000]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1442,1443,60,FV,85.0,11003,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,310000
1446,1447,20,RL,NaN,26142,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,157900
1448,1449,50,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2007,WD,Normal,112000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000

## How to select and index using iloc and loc?

<img src="https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing.png" alt="Exploring data" align="left" width="800" length="400"/>

In [50]:
# Selecting rows that are not contiguos
# Slice rows 11st, 21st, and 31st and select ALL columns
train.iloc[[10, 20, 30], ]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
20,21,60,RL,101.0,14215,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,New,Partial,325300
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000

## How to union dataframes?
The ```concat()``` function is the equivalent of UNION ALL (it keeps duplicates by default). In a kaggle competition, it makes sense to union train and test before you clean and enrich your data. Otherwise, you might have to repite the same steps twice.

In [53]:
# Union train + test
combined = pd.concat([train, test])

# Check the data
combined.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

## How to join dataframes?
‚ÄúMerging‚Äù two datasets is the process of bringing two datasets together into one, and aligning the rows from each based on common attributes or columns. Pandas has a lot of interesting features that might surprise you. For example, validate checks the type of join (e.g. many to many, one to many). By default, it is set to None. But it accepts the following values "1:1", "1:m", "m:1", "m:m". You can use it like this:

```pd.merge(df1, df2, how='inner', on='id', validate='m:1')```


<img src="https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2017/03/pandas-merge-join-different-variable-names-copy-e1488722312527.jpg" alt="Joining data" align="left" width="800" length="400"/>